<div class="graphic-inner component-inner">
    {{> component this}}
    <div class="component-widget character-widget">
		Your are using characterId: {{ characterId }}
		<img src="/src/components/adapt-character/assets/character-{{characterId}}.svg" />
		<img src="src/components/adapt-character/assets/character-{{characterId}}.svg" />
		<img src="components/adapt-character/assets/character-{{characterId}}.svg" />
		<img src="adapt-character/assets/character-{{characterId}}.svg" />
		<img src="assets/character-{{characterId}}.svg" />
		<img src="character-{{characterId}}.svg" />
    </div>
</div>